
@{
    ViewBag.Title = "AboutUs";
}

<div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 60px">
    <h2 style="font-weight:bold">За 3Клика</h2>
    <hr />
    <h5 style="color:gray;font-weight:bold;">Нашата мисија се базира на проширување на атлетскиот потенцијал, подобрување на спортот и континуирано давање најдобра понуда на нашите клиенти.</h5>
</div>

<div class="col-md-6 col-sm-6 col-xs-6">
    <img style="padding-bottom:50px;width:95%" src="~/Images/new-3-Three-logo.jpg" />
</div>
