@{
    ViewBag.Title = "Brands";
}

<h2 style="text-align:center">Брендови</h2>
<hr />

<div class="container">
    <div class="col-md-4 col-sm-4 col-xs-6 brand">
        <a href="/Products/Nike" class="brand-link">
            <img class="brand-image" src="~/Images/NIKE.png"/>
        </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 brand">
        <a href="/Products/Adidas" class="brand-link">
        <img class="brand-image" src="~/Images/ADIDAS.png" />
        </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 brand" >
        <a href="/Products/Puma" class="brand-link">
        <img class="brand-image" src="~/Images/PUMA.png"/>
        </a>
    </div>
</div>

