@{
    ViewBag.Title = "Contact";
}

<h2 style="font-weight:bold">Контакт</h2>

<hr />

<div class="col-md-4 col-sm-4 col-xs-4">
    <h4 style="font-weight:bold;text-align:center;">Нашата Локација</h4>
    <h5 style="color:gray;font-weight:bold;text-align:center">ул.526, бр.20 <br /> Северна Македонија, Куманово </h5>
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
    <h4 style="font-weight:bold;text-align:center;">Контакт Телефон</h4>
    <h5 style="color:gray;font-weight:bold;text-align:center">078 276 788 // 072 260 857 <br /> 078 276 788 </h5>
</div>
<div class="col-md-4 col-sm-4 col-xs-4">
    <h4 style="font-weight:bold;text-align:center;">Контакт Е-Маил</h4>
    <h5 style="color:gray;font-weight:bold;text-align:center">triklika.mk@gmail.com</h5>
</div>