
@{
    ViewBag.Title = "FAQ";
}

<div style="font-weight:bold;">
    <h2 style="font-weight:bold;"> 
        НАЈЧЕСТO ПОСТАВУВАНИ ПРАШАЊА
    </h2>

    <hr />

    <h5 style="color:gray;font-weight:bold;">Како да нарачам</h5>
    <h5 style="color:gray">
        Процесот на нарачување е едноставен. Нарачувањето се врши страната во неколку чекори. Одберете го посакуваниот производ, кликнете на потребната големина и кликнете додади во
        кошничка и кликнете наплата. Пополнете ги сите потребни полиња и на крајот кликнете на полето НАРАЧАЈ.Ке добиете e-mail дека нарачката е успешно извршена а кога ке биде
        испорачана исто така ке добиете потврден e-mail дека вашата нарачка е во достава.
    </h5>
    <br />
    <h5 style="color: gray; font-weight: bold; ">Како да направам рекламација на производ?</h5>
    <h5 style="color:gray">Повеќе детали за да направите рекламација можете да погледнете <a href="/Home/Reclamation" style="color:darkred;">ОВДЕ.</a></h5>
    <br />
    <h5 style="color: gray; font-weight: bold;">Сакам да направам нарачка но не сум сигурен како тоа да го направам?</h5>
    <h5 style="color:gray">Ве замолуваме во тој случај да не контактирате на телефонскиот број 078 276 788 и ние ќе ја извршиме нарачката за Вас.</h5>
    <br />
    <h5 style="color: gray; font-weight: bold;">Дали е можно нарачаните производи да ги вратам и да бидам рефундиран?</h5>
    <h5 style="color:gray">Можете да бидете рефундирани за нарачаните продукти, повеќе детали можете да погледнете <a href="/Home/Refund" style="color:darkred;">ОВДЕ.</a></h5>
    <br />
    <h5 style="color: gray; font-weight: bold;">Кое е работното време на корисничката подршка?</h5>
    <h5 style="color:gray">Работни денови: 09:00-17:00 часот</h5>
    <h5 style="color:gray">Сабота: 10:00-14:00 часот</h5>
    <br />
    <h5 style="color: gray; font-weight: bold;">Кој е минималниот износ за нарачка?</h5>
    <h5 style="color:gray">Минималниата вредност на нарачка изнесува 600ден.</h5>
</div>




