
@{
    ViewBag.Title = "Privacy";
}

<h2 style="font-weight:bold;">Политика на приватност</h2>

<hr />

<h5 style="color:gray;font-weight:bold;">
    Оваа Политика за приватност ќе објасни како 3Клика собира, користи, одржува и открива информации собрани од корисници (т.е. ВИЕ или кој било друг што влегува на оваа страница) на https://www.3klika.com.mk Оваа политика за приватност се однесува на страницата и сите производи и услуги што ги нуди 3Клика.
</h5>
<br />

<h5 style="color:gray;font-weight:bold;">ИНФОРМАЦИИ ЗА ЛИЧНА ИДЕНТИФИКАЦИЈА (КАКО ГИ ДОБИВАМЕ ВАШИТЕ ИНФОРМАЦИИ)</h5>
<h5 style="color:gray">Можеме да собереме информации за лична идентификација од вас на различни начини, вклучително, но не ограничувајќи се на тоа, кога ја посетувате нашата страница, се регистрирате на страницата, поставувате нарачка, се претплаќате на билтенот, пополнувате формулар и во врска со други активности, услуги, карактеристики или ресурси што ги ставаме на располагање на нашата страница. Можеби ќе биде побарано, соодветно, име, адреса за е-пошта, адреса за пошта, телефонски број, информации за кредитна картичка. Но, можете да ја посетите нашата страница анонимно. Ние ќе собереме информации за лична идентификација од вас само доколку доброволно ни ги доставите таквите информации. Секогаш можете да одбиете да обезбедите лични информации за идентификација, но нерегистрирањето може да ве спречи да влезете во одредени делови на страницата.</h5>
<br />
<h5 style="color:gray">Нашата страница може да користи „колачиња“ за да го подобри вашето искуство. Вашиот веб прелистувач поставува колачиња на вашиот хард диск за да ви држи датотека со насмевки и да ни кажете на што сакате на нашата страница. Можете да изберете да го поставите вашиот веб прелистувач да одбива колачиња или да ве предупредува кога се испраќаат колачињата. Ако го направите тоа, некои делови од страницата може да не работат за вас.</h5>
<br />
<h5 style="color:gray;font-weight:bold;">КАКО ГИ КОРИСТИМЕ СОБРАНИТЕ ИНФОРМАЦИИ (што правиме со нив)</h5>
<h5 style="color:gray">Можеби ги собираме и користиме вашите лични информации од различни причини:</h5>
<br />

<h5 style="color:gray">За да ги подобриме услугите за клиенти, информациите што ги давате ни помагаат да го направиме 3Клика подобар за вас, како да одговориме на барања за услуги на клиенти и да ви помогнеме во кој било проблем со 3Клика.</h5>
<br />
<h5 style="color:gray">За да го персонализираме вашето искуство информациите што ги собираме од сите што ја посетуваат оваа страница ни помага да најдеме начини да ја направиме подобра, без разлика дали повеќе сакате корисникот или го добивате производот што вие („вие“ колективно) го сакате</h5>
<br />
<h5 style="color:gray">За да ја подобриме нашата страница Може да користиме повратни информации што ги давате за да ги подобриме нашите производи и услуги.</h5>
<br />
<h5 style="color:gray">За обработка на плаќања Можеме да ги искористиме овие информации за да нарачуваме ваши нарачки и по нарачки што ни ги кажавте дека сакате. Ние нема да ги споделиме овие информации со која било трета страна.</h5>
<br />
<h5 style="color:gray">Да се ​​спроведе промоција, натпревар, анкета или друга карактеристика на страницата Да ви испратиме работи за кои мислиме дека можеби ви се допаѓаат или уживате</h5>
<br />
<h5 style="color:gray">За да испраќаме периодични е-пошта Можеме да ја користиме е-адресата за да ви испратиме информации и ажурирања во врска со вашата нарачка. Информациите што ги добиваме може да се користат и за да одговориме на нивните прашања, прашања и / или други барања. Ако одлучите да се вклучите во нашата поштенска листа, ќе добиете е-пошта што може да вклучуваат новини на компанијата, ажурирања, поврзани производи или услуги за информации, итн. Ако во кое било време сакате да се отпишете од примање идни е-пораки, можете да контактирате со нас преку нашата страница.</h5>

