
@{
    ViewBag.Title = "Reclamation";
}

<div style="font-weight:bold;">
    <h2 style="font-weight:bold;">Рекламација</h2>

    <hr>

    <h5 style="color:gray">
        При достава на пратката ве молиме да проверите дали има оштетување на пакетот во присуство на курирот. Доколку има видливи оштетувања, пакетот не треба да го превземате од курирот.
        Во овој случај ве молиме да не побарате на тел: 078 276 788 // 072 260 857 или да ни пратите е-маил со свои податоци (број на нарачка) на triklika.mk@gmail.com и да ги наведете причините поради кои сте одбиле да го преземете пакетот. Нашите оператори ќе ве контактираат во најбрз можен рок за понатамошната постапка.
    </h5>
    <br />
    <h5 style="color:gray">
        Откако нарачаниот производ ќе ви биде доставен, должни сте веднаш да го прегледате со цел да утврдите дали постојат одредени физички недостатоци на истиот. Доколку има видливи оштетувања потребно е во рок од 24 часа од приемот на пратката да не известите на тел: 078 276 788 или на triklika.mk@gmail.comНашите оператори ќе ве контактираат во најбрз можен рок за понатамошната постапка.
    </h5>
</div>


