
@{
    ViewBag.Title = "Refund";
}

<div style="font-weight:bold;">
    <h2 style="font-weight:bold;">Замена И Рефундација</h2>

    <hr />

    <h4 style="color:gray">РЕФУНДАЦИЈА</h4>
    <h5 style="color:gray">
        Доколку производот не ви одговара и сакате рефундација, потребно е истиот да го испратите по курирска служба( ИН Пошта Радевски) која што вие ќе си ја повикате и испратите до адреса Спортикум Куманово Маршал Тито 1/10 и притоа трошокот за достава е ваш.Рокот за рефундирање на средства е 3 дена од подигање на производот.
        Пратката која што ја враќате мора да биде спакувана во оригиналното пакување и задолжително треба да ја ставите и оригиналната фактура.
        Потоа, ни ја праќате вашата трансакциска сметка на нашата e-меил адреса sportikum.mk@gmail.com
        Штом пратката пристигне кај нас и се утврди дека вратениот производ не бил употребуван, не е оштетен, сочуван е неговиот изглед, употребни својства и фабрички етикети, се врши рефундирање на средствата на вашата трансакциска сметка.
    </h5>
    <br />
    <h4 style="color:gray">ЗАМЕНА НА ГОЛЕМИНА И ЗАМЕНА НА ПРОИЗВОД СО ДРУГ</h4>
    <h5 style="color:gray">
        Доколку по прием на нарачаниот производ заклучивте дека сакате да го замените за друга големина или друг производ за ист или повисок износ, Ве молиме да не контактирате на телефонскиот број 078219976 или 078219978 или да ни испратите е-маил на sportikum.mk@gmail.com Неопходно е да го имате бројот на фактурата/испратница и да ни го кажете кодот на производот и големината која Ви одговара.
        Потоа се врши физичка проверка во кој малопродажен објект е достапна бараната големина, односно бараниот производ по што добивате насоки и објаснување на процесот за замена на потребната големина, односно замена на производот за друг.
        Производот мора да бидe неоштетен и спакуван во неговото оригинално пакување со етикета и фактура.
        По прием на производот, ќе се утврди дали производот е во правилна состојба и неоштетен. Доколку се утврди дека настанало оштетување на производот по вина на купувачот, ќе биде одбиена замената и производот ќе биде вратен на купувачот на негов трошок.
        Без претходна комуникација и договор со операторите во Онлајн продавница, кој е наведен погоре, не можете самоиницијативно да правите замена во малопродажните објекти на нарачаниот производ.
        Нарачаниот производ не може да се менува доколку истиот е носен.
    </h5>
    <br />
    <h4 style="color:gray">РОК ЗА ЗАМЕНА</h4>
    <h5 style="color:gray">
        Процедурата за замена на производи купувачот може да ја започне најдоцна во рок од 15 дена од прием на производот. Потоа, рокот за замена на големина на производ е 15 дена од моментот на поднесување барање од страна на купувачот, по прием на производот.
        Трошоци за достава
        Трошоците за замена на производи се на товар на купувачот, освен во случаите кога купувачот купувачот добил неисправен или погрешен производ.
    </h5>
</div>


